body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: antiquewhite;
}

header {
  background-color: rgba(245,72,66,.5);
  height: 100px;
  width: 100vw;
}

header h1{
  justify-content: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 37px;
}

nav {
  margin: auto;
  float:left;
  margin-top: 40px;
  margin-left: 40px;
}

.simple-highlight {
  background-color: gray;
  font-family: 'Poppins', sans-serif;
  width:fit-content;
  color: blue;
}

main {
  width: 1000px;
  margin: auto;
  background-color: antiquewhite;
}

#salmon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#merch {
  background-color: antiquewhite;
  padding-top: 100px;
}

#merch ul{
  display: flex;
  justify-content: space-between;
}

#merch ul img {
  height: 200px;
}

#merch h2 {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.side-by-side {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color:hsl(125, 42%, 28%);
}

.side-by-side section {
  float: left;
  padding: 5px;
  border: 1px solid black;
}

#locations {
  margin-top: 70px;
}

#locations h2 {
  display:flex;
  justify-content: center;
  font-size: 27px;
}

table *{
  font-family: 'Archivo', sans-serif;
  background-color: #797d80;
  border: 2px double #020005;
  padding: 8px;
 
}

table {
  border-collapse:separate;
  border:solid black 1px;
  margin-top: 4rem;
  border-radius: 2rem;
  display: absolute;
  justify-content: center;
}

th {
  font-weight:900;
}

td {
  text-align: center;
}

form {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 2rem;
  width: 60%;
  margin: auto;
  margin-top: 4rem;
  border-radius: 1rem;
  background-color: hsl(125, 42%, 28%);
  border: 4px solid hsl(202, 15%, 26%);
  display: grid;
  grid-template-columns: 1fr 1.25fr;
}

form label {
  display: inline-block;
  font: 1rem sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

button {
  font-size: 1.25rem;
  width: max-content;
  margin-top: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  display: flex;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: hsl(213, 73%, 40%);
}

#family {
  display: flex;
  justify-content: center;
  width: 300px;
  padding-top: 50px;
}

footer {
  font-family: 'Archivo', sans-serif;
  font-size: 1.5em;
  padding-top: 15px;
  text-align: center;
  padding-right: 10px;
  height: 100px;
  background-color: #797d80;
  margin-top: 30px;
}

#chinook {
  height: 70px;
  padding-top: 10px;
}





